.login-page {
  flex-grow: 1;
  display: flex;
  place-content: center;
  place-items: center;
  padding: 20px;
  background-color: #f0f2f5;
}

.login-page form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

.login-field {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color:black;
}
